<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1><%= title %></h1>
            <select class="form-control-sm currency"> 
                <option value="rub">rub</option>
                <option value="eur">eur</option>
                <option value="usd">usd</option>
                <option value="aud">aud</option>
                <option value="azn">azn</option>
                <option value="kzt">kzt</option>
                <option value="ron">ron</option>
                <option value="uzs">uzs</option>
            </select>
        </div>
        <div class="container"></div>
        
        <script src="/javascripts/main.js"></script>
    </body>
</html>
